<!doctype html>
<html ng-app="app" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Red Hat CoolStore Microservices App</title>

    <!-- PatternFly Styles -->
    <link rel="stylesheet" href="/node_modules/@patternfly/patternfly/patternfly.css">

    <!-- Angular -->
    <script src="/node_modules/angular/angular.min.js"></script>
    
    <!-- Angular-Route -->
    <script src="/node_modules/angular-route/angular-route.min.js"></script>

    <!-- Application -->
    <script src="/app/app.js"></script>
    <script src="/app/coolstore.config.js"></script>
    <script src="/app/controllers/controllers.js"></script>
    <script src="/app/routes/routes.js"></script>
    <script src="/app/services/catalog.js"></script>
    <script src="/app/directives/header.js"></script>
    <link rel="stylesheet" href="/app/css/coolstore.css" />

</head>

<body>
    <div class="pf-c-page">
        <header header></header>
        <!-- <pf-notification-list></pf-notification-list> -->
        <main role="main" class="pf-c-page__main " tabindex="-1">
            <section ng-view></section>
        </main>
    </div>
</body>
</html>